//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 06 14:06:34 2019
//! **************************************************************************

SCHEMATIC START;
COMP "CPU_in" LOCATE = SITE "P31" LEVEL 1;
COMP "CPU_out2<0>" LOCATE = SITE "P55" LEVEL 1;
COMP "CPU_out2<1>" LOCATE = SITE "P54" LEVEL 1;
COMP "CPU_out2<2>" LOCATE = SITE "P51" LEVEL 1;
COMP "CPU_out2<3>" LOCATE = SITE "P50" LEVEL 1;
COMP "CPU_out2<4>" LOCATE = SITE "P49" LEVEL 1;
COMP "CPU_out2<5>" LOCATE = SITE "P48" LEVEL 1;
COMP "CPU_out2<6>" LOCATE = SITE "P47" LEVEL 1;
COMP "CPU_out2<7>" LOCATE = SITE "P46" LEVEL 1;
COMP "CPU_clock" LOCATE = SITE "P129" LEVEL 1;
COMP "CPU_reset" LOCATE = SITE "P80" LEVEL 1;
COMP "CPU_out1" LOCATE = SITE "P32" LEVEL 1;
NET "CPU_clock_IBUF1" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

