NET "CPU_clock"			  LOC = P129  | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;
 
NET "CPU_reset"			LOC = P80   | PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPU_in"			LOC = P31	| PULLUP  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPU_out1"			LOC = P32   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "CPU_out2[0]"			LOC = P55	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPU_out2[1]"			LOC = P54	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPU_out2[2]"			LOC = P51	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPU_out2[3]"			LOC = P50	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPU_out2[4]"			LOC = P49	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPU_out2[5]"			LOC = P48	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPU_out2[6]"			LOC = P47	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "CPU_out2[7]"			LOC = P46	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;